#header {
  background: #5d5a54;
  color: white;
  transition: all .5s ease; }
  #header.scrolled {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8); }
  @media (max-width: 767px) {
    #header {
      position: relative;
      z-index: 9; } }
  #header i {
    font-size: 18px; }
  #header a {
    color: white; }
  #header .info-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ffffff; }
    #header .info-social .info ul {
      display: flex; }
      #header .info-social .info ul li {
        padding-right: 20px;
        border-right: 1px solid white;
        margin-right: 20px; }
        #header .info-social .info ul li:last-child {
          border-right: 0; }
        #header .info-social .info ul li i {
          margin-right: 5px; }
    #header .info-social .social ul {
      display: flex; }
      #header .info-social .social ul li {
        margin-left: 20px; }
        #header .info-social .social ul li a:hover i {
          color: #c8aa7b; }
  #header .logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0; }
    @media (max-width: 767px) {
      #header .logo-menu {
        padding: 10px 0 20px; } }
    #header .logo-menu .menu {
      display: flex; }
      #header .logo-menu .menu ul {
        display: flex; }
        #header .logo-menu .menu ul li {
          margin-left: 60px; }
          @media (max-width: 991px) {
            #header .logo-menu .menu ul li {
              margin-left: 25px; } }
          #header .logo-menu .menu ul li a {
            font-family: 'PlayfairDisplay',sans-serif;
            font-weight: 900;
            font-size: 18px; }
            @media (max-width: 991px) {
              #header .logo-menu .menu ul li a {
                font-size: 14px; } }
            #header .logo-menu .menu ul li a:hover {
              color: #c8aa7b; }
    #header .logo-menu .cart {
      position: relative;
      cursor: pointer;
      margin-left: 60px; }
      @media (max-width: 991px) {
        #header .logo-menu .cart {
          margin-left: 25px; } }
      #header .logo-menu .cart i {
        font-size: 22px; }
      #header .logo-menu .cart span {
        position: absolute;
        top: -6px;
        left: 6px;
        z-index: 2;
        background: #c8aa7b;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 11px; }
  #header .control__menu {
    position: relative;
    top: 5px; }
    #header .control__menu .line {
      width: 28px;
      height: 2px;
      background: #ffffff;
      display: block;
      transition: all .5s ease; }
      #header .control__menu .line--second {
        margin: 5px 0; }
    #header .control__menu.show .line--first {
      transform: rotate(45deg); }
    #header .control__menu.show .line--third {
      transform: rotate(-45deg);
      position: relative;
      top: -2px; }
    #header .control__menu.show .line--second {
      display: none; }
  #header .menu-mobile {
    position: fixed;
    z-index: 9;
    width: 75%;
    left: -100%;
    top: 80px;
    transition: all .5s ease;
    background: #c8aa7b; }
    #header .menu-mobile.show {
      left: 0; }
    #header .menu-mobile ul li {
      border-bottom: 1px solid #ffffff; }
      #header .menu-mobile ul li:last-child {
        border-bottom: none; }
      #header .menu-mobile ul li a {
        padding: 10px;
        display: block;
        font-family: 'PlayfairDisplay',sans-serif;
        font-weight: 900; }

#footer {
  background: #242424;
  color: #959595;
  padding-top: 30px; }
  @media (max-width: 991px) {
    #footer .col-lg-4 {
      margin-bottom: 50px; } }
  #footer .content h3 {
    font-family: 'PlayfairDisplay',sans-serif;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px; }
  #footer .home-col p {
    margin: 20px 0; }
  #footer .home-col ul {
    display: flex; }
    #footer .home-col ul li {
      margin-right: 15px; }
      #footer .home-col ul li a:hover span {
        background: #ffffff; }
        #footer .home-col ul li a:hover span i {
          color: #c7aa7b; }
      #footer .home-col ul li a span {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #c7aa7b; }
        #footer .home-col ul li a span i {
          font-size: 18px;
          color: white; }
  #footer .contact ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px; }
    #footer .contact ul li:last-child {
      margin-bottom: 0; }
    #footer .contact ul li i {
      position: absolute;
      left: 0;
      top: 2px;
      color: #c8aa7b;
      font-size: 18px; }
    #footer .contact ul li span {
      font-weight: 700;
      color: #c8aa7b; }
  #footer .recent-post ul li {
    position: relative;
    padding-left: 85px;
    margin-bottom: 30px; }
    #footer .recent-post ul li:hover h4 {
      opacity: 0.6; }
    #footer .recent-post ul li:last-child {
      margin-bottom: 0; }
    #footer .recent-post ul li img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      position: absolute;
      left: 0; }
    #footer .recent-post ul li h4 {
      font-weight: 700;
      color: #c8aa7b;
      margin-bottom: 5px;
      transition: all 0.5s ease; }
    #footer .recent-post ul li a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
  #footer .copyright {
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background: #1a1a1a; }
    @media (max-width: 991px) {
      #footer .copyright {
        margin-top: 0; } }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit; }

input, textarea {
  border: 1px solid #333;
  padding: 13px 15px; }
  input:focus, textarea:focus {
    border: 1px solid #3B5998;
    outline: none; }

textarea {
  resize: none; }

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #5e5a54;
  font-size: 14px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

button {
  cursor: pointer;
  transition: all .4s ease; }
  button:focus {
    outline: none; }

a {
  transition: all 0.5s ease;
  display: inline-block;
  color: #5e5a54; }
  a:hover {
    text-decoration: none; }

input:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* Edge */
  color: #9ca7b4; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9ca7b4; }

::placeholder {
  color: #9ca7b4; }

input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #afafaf;
  position: relative;
  cursor: pointer;
  outline: none; }

input[type="checkbox"]:after {
  content: '';
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #bcdf00;
  border-right: 2px solid #bcdf00;
  position: absolute;
  left: 7px;
  top: 3px;
  opacity: 0;
  transform: rotate(45deg); }

input[type="checkbox"]:checked {
  outline: none;
  background: #ffffff; }

input[type="checkbox"]:checked:after {
  opacity: 1; }

input[type="radio"] {
  -webkit-appearance: none;
  background: #fff;
  width: 21px;
  height: 21px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 50%; }

input[type="radio"]:after {
  content: '';
  width: 13px;
  height: 13px;
  background: #ec6262;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  border-radius: 50%; }

input[type="radio"]:checked {
  outline: none;
  background: #fff; }

input[type="radio"]:checked:after {
  opacity: 1; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#svgFontName") format("svg");
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#svgFontName") format("svg");
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay-Black.eot");
  src: url("../fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Black.svg#svgFontName") format("svg");
  font-weight: 900; }
@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay-BlackItalic.eot");
  src: url("../fonts/PlayfairDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BlackItalic.ttf") format("truetype"), url("../fonts/PlayfairDisplay-BlackItalic.svg#svgFontName") format("svg");
  font-weight: 900;
  font-style: italic; }
@media (max-width: 991px) {
  .post-item {
    margin-bottom: 70px; } }
.post-item .thumb-post {
  position: relative;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  box-shadow: 3px 3px 0 3px #c7aa7b; }
  .post-item .thumb-post .time {
    color: #ffffff;
    font-family: 'PlayfairDisplay',sans-serif;
    font-weight: 900;
    font-size: 16px;
    background: #c8aa7b;
    padding: 10px 10px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0; }
.post-item h3 {
  font-family: 'PlayfairDisplay',sans-serif;
  font-weight: 900;
  color: #242424;
  font-size: 25px;
  margin: 20px 0 10px; }
  @media (max-width: 1199px) {
    .post-item h3 {
      font-size: 20px; } }
.post-item .see-more-btn {
  margin-top: 10px; }

.wrapper-product {
  text-align: center;
  border: 1px solid #c8aa7b;
  position: relative;
  padding-bottom: 10px; }
  @media (max-width: 991px) {
    .wrapper-product {
      margin-bottom: 30px; } }
  .wrapper-product:hover .img img {
    transform: scale(1.2);
    opacity: 0.9; }
  .wrapper-product .img {
    padding: 10px;
    overflow: hidden; }
    .wrapper-product .img img {
      transition: all .5s ease; }
  .wrapper-product .content .info {
    background: #fffcf7;
    padding: 15px 0; }
    .wrapper-product .content .info .name {
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      color: #242424;
      font-size: 25px; }
      @media (max-width: 1199px) {
        .wrapper-product .content .info .name {
          font-size: 18px; } }
    .wrapper-product .content .info .description {
      display: none; }
    .wrapper-product .content .info .price {
      color: #c8aa7b;
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      font-size: 25px; }
      @media (max-width: 1199px) {
        .wrapper-product .content .info .price {
          font-size: 18px; } }
  .wrapper-product a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

#banner-page {
  position: relative; }
  #banner-page:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.4; }
  #banner-page img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    object-fit: cover; }
    @media (max-width: 991px) {
      #banner-page img {
        height: 300px; } }
    @media (max-width: 767px) {
      #banner-page img {
        height: 200px; } }
  #banner-page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'PlayfairDisplay',sans-serif;
    font-weight: 900;
    color: #ffffff;
    text-transform: capitalize; }
    @media (max-width: 767px) {
      #banner-page h1 {
        font-size: 25px; } }

.pagination {
  justify-content: center; }
  .pagination ul {
    display: inline-flex; }
    .pagination ul li {
      margin-right: 5px; }
      .pagination ul li.prev a i {
        font-size: 10px; }
      .pagination ul li.active a, .pagination ul li:hover a {
        color: #ffffff;
        background: #c8aa7b; }
      .pagination ul li a {
        color: #5e5a54;
        border: 1px solid #e2e0dc;
        background: #ffffff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-weight: 700; }

@media (max-width: 767px) {
  .search {
    margin-top: 50px; } }
.search .wrapper {
  position: relative;
  border: 1px solid #5d3d0b;
  border-radius: 50px;
  overflow: hidden; }
  .search .wrapper input {
    width: calc(100% - 60px);
    border: none; }
  .search .wrapper .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #c8aa7b;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease; }
    .search .wrapper .btn-search:hover {
      background: #5d3d0b; }
    .search .wrapper .btn-search i {
      font-size: 18px;
      color: #ffffff;
      transition: all .5s ease; }

.categories-post {
  margin: 40px 0; }
  .categories-post ul li {
    padding: 10px 0;
    border-bottom: 1px solid #989898;
    margin-bottom: 10px; }
    .categories-post ul li a {
      display: flex;
      justify-content: space-between; }

.highlight-post {
  margin-bottom: 40px; }
  .highlight-post ul li {
    position: relative;
    padding-left: 85px;
    margin-bottom: 50px; }
    .highlight-post ul li:hover h3 {
      color: #c7aa7b !important; }
    .highlight-post ul li:last-child {
      margin-bottom: 0; }
    .highlight-post ul li img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0; }
    .highlight-post ul li h3 {
      font-weight: 700;
      color: #242424 !important;
      transition: all .5s ease; }
    .highlight-post ul li a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }

.tags-post ul {
  display: flex;
  flex-wrap: wrap; }
  .tags-post ul li {
    margin-right: 10px;
    margin-bottom: 10px; }
    .tags-post ul li a {
      padding: 10px 20px;
      background: #c8aa7b;
      border-radius: 50px;
      color: white; }
      .tags-post ul li a:hover {
        background: #5e5a54; }

.title-post {
  font-weight: 900;
  font-family: 'PlayfairDisplay',sans-serif;
  color: #242424;
  font-size: 20px;
  border-bottom: 1px solid #5e5a54;
  position: relative;
  padding: 5px 0;
  margin-bottom: 20px; }
  .title-post:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    background: #5e5a54; }

.list-categories {
  margin-bottom: 30px; }
  .list-categories ul {
    display: flex;
    justify-content: center; }
    @media (max-width: 767px) {
      .list-categories ul {
        justify-content: space-between;
        flex-wrap: wrap; } }
    .list-categories ul li {
      text-transform: capitalize;
      font-size: 25px;
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      position: relative;
      margin: 0 15px;
      cursor: pointer; }
      @media (max-width: 1199px) {
        .list-categories ul li {
          font-size: 20px; } }
      @media (max-width: 767px) {
        .list-categories ul li {
          width: 50%;
          margin: 0;
          text-align: center; } }
      .list-categories ul li:last-child:after {
        display: none; }
      .list-categories ul li:after {
        content: '/';
        margin-left: 30px; }
      .list-categories ul li.active {
        color: #c8aa7b; }

h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'PlayfairDisplay',sans-serif;
  font-weight: 900;
  margin-bottom: 35px;
  line-height: 1.2; }
  @media (max-width: 1199px) {
    h2 {
      font-size: 40px; } }
  @media (max-width: 1199px) {
    h2 {
      font-size: 30px; } }

.see-more-btn {
  background: #c8aa7b;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 700; }
  @media (max-width: 991px) {
    .see-more-btn {
      margin-top: 15px; } }
  .see-more-btn:hover {
    background: #5d3d0b;
    color: #ffffff; }

.add-to-cart-btn {
  background: #c8aa7b;
  color: #ffffff;
  padding: 10px 8px 10px 40px;
  border-radius: 5px;
  font-size: 13px;
  position: relative;
  z-index: 3;
  border: none; }
  .add-to-cart-btn img {
    width: 25px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%); }
  .add-to-cart-btn:hover {
    background: #5d3d0b;
    color: #ffffff; }

p {
  margin-bottom: 10px; }

.slick-arrow {
  width: 30px;
  position: absolute;
  bottom: -40px; }
  .slick-arrow.arrow-left {
    left: 40%; }
    @media (max-width: 767px) {
      .slick-arrow.arrow-left {
        left: 35%; } }
  .slick-arrow.arrow-right {
    transform: rotateY(180deg);
    right: 40%; }
    @media (max-width: 767px) {
      .slick-arrow.arrow-right {
        right: 35%; } }

body:after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  transition: all 0.5s ease;
  z-index: 2; }
body.is-show-menu {
  position: relative; }
  body.is-show-menu:after {
    opacity: 0.65;
    visibility: visible; }

#homepage #blog {
  padding: 70px 0; }
  @media (max-width: 991px) {
    #homepage #blog {
      padding: 20px 0 0; } }
#homepage #why-choose-us {
  padding: 70px 0 20px; }
  #homepage #why-choose-us .content {
    text-align: center; }
    @media (max-width: 991px) {
      #homepage #why-choose-us .content {
        margin-bottom: 50px; } }
    @media (min-width: 1200px) {
      #homepage #why-choose-us .content:hover .icon {
        background: white; }
        #homepage #why-choose-us .content:hover .icon i {
          color: #c8aa7b; } }
    #homepage #why-choose-us .content .icon {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #c8aa7b;
      border: 2px solid #c8aa7b;
      transition: all .5s ease; }
      #homepage #why-choose-us .content .icon i {
        font-size: 50px;
        color: #ffffff;
        transition: all .5s ease; }
    #homepage #why-choose-us .content .name {
      font-size: 25px;
      color: #242424;
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      margin: 15px 0; }
      @media (max-width: 1199px) {
        #homepage #why-choose-us .content .name {
          font-size: 20px; } }
#homepage #products {
  padding-top: 70px; }
  @media (max-width: 991px) {
    #homepage #products {
      padding-top: 0; } }
#homepage #testimonials {
  padding: 70px 0; }
  #homepage #testimonials h2 {
    margin-bottom: 60px; }
    @media (max-width: 991px) {
      #homepage #testimonials h2 {
        margin-bottom: 20px; } }
  #homepage #testimonials .content {
    position: relative;
    text-align: center;
    border: 1px solid #c7aa7b;
    padding: 40px 20px 80px; }
    @media (max-width: 991px) {
      #homepage #testimonials .content {
        padding: 15px 20px 80px;
        margin-bottom: 50px;
        margin-top: 40px; } }
    #homepage #testimonials .content .quote-icon {
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: auto;
      background: #fff; }
      @media (max-width: 1199px) {
        #homepage #testimonials .content .quote-icon {
          width: 50px;
          top: -25px; } }
    #homepage #testimonials .content p {
      font-size: 20px;
      margin-bottom: 20px; }
      @media (max-width: 1199px) {
        #homepage #testimonials .content p {
          font-size: 16px; } }
      @media (max-width: 991px) {
        #homepage #testimonials .content p {
          margin: 20px 0; } }
    #homepage #testimonials .content .rating {
      display: flex;
      justify-content: center; }
      #homepage #testimonials .content .rating i {
        color: #c8aa7b;
        font-size: 18px;
        margin: 0 3px; }
    #homepage #testimonials .content h3 {
      font-size: 25px;
      font-family: 'PlayfairDisplay',sans-serif;
      color: #242424;
      margin: 10px; }
      @media (max-width: 1199px) {
        #homepage #testimonials .content h3 {
          font-size: 20px; } }
    #homepage #testimonials .content h6 {
      color: #989898; }
    #homepage #testimonials .content .avatar {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      margin: auto;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover; }

#about-page #about-us {
  padding: 70px 0; }
  #about-page #about-us .img {
    background-image: url("../images/bg-img-about.png");
    background-size: 100% 100%;
    padding: 15px 55px 55px 0; }
    #about-page #about-us .img img {
      width: 500px;
      height: 500px;
      object-fit: cover;
      border: 10px solid #ffffff;
      box-shadow: 2px 3px 19px 3px rgba(53, 53, 53, 0.5); }
  #about-page #about-us .content h2 {
    text-align: left; }
  #about-page #about-us .content h4 {
    text-transform: uppercase;
    font-size: 11px;
    margin: -25px 0 10px; }
  #about-page #about-us .content h6 {
    color: #5e5a54;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px; }
  #about-page #about-us .content .signature {
    margin-top: 20px; }
    #about-page #about-us .content .signature img {
      margin-right: 10px; }
    #about-page #about-us .content .signature span {
      font-size: 25px;
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      color: #c8aa7b; }
#about-page #why-choose-us {
  background: #fffcf7;
  padding: 70px 0; }
  #about-page #why-choose-us ul li {
    position: relative;
    padding-left: 90px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c7aa7b; }
    #about-page #why-choose-us ul li:last-child {
      border-bottom: none; }
    #about-page #why-choose-us ul li .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #c8aa7b;
      position: absolute;
      left: 0;
      top: 0; }
      #about-page #why-choose-us ul li .icon i {
        font-size: 30px;
        color: #ffffff; }
    #about-page #why-choose-us ul li .name {
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      color: #242424;
      font-size: 25px; }
  #about-page #why-choose-us .img img {
    object-fit: cover;
    border-radius: 50%; }

#product-page #products {
  padding: 70px 0; }
  #product-page #products .wrapper-product {
    margin-bottom: 30px; }
  #product-page #products.list-style .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%; }
  #product-page #products.list-style .wrapper-product {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 0; }
    @media (max-width: 767px) {
      #product-page #products.list-style .wrapper-product {
        padding-bottom: 10px; } }
    #product-page #products.list-style .wrapper-product .img {
      width: 400px; }
      @media (max-width: 767px) {
        #product-page #products.list-style .wrapper-product .img {
          width: 100%; } }
    #product-page #products.list-style .wrapper-product .content {
      width: calc(100% - 400px);
      padding: 0 40px 0 60px; }
      @media (max-width: 991px) {
        #product-page #products.list-style .wrapper-product .content {
          padding: 0 10px 0; } }
      @media (max-width: 767px) {
        #product-page #products.list-style .wrapper-product .content {
          width: 100%; } }
      @media (max-width: 767px) {
        #product-page #products.list-style .wrapper-product .content .info {
          padding-top: 0; } }
      #product-page #products.list-style .wrapper-product .content .info .description {
        display: block; }
  #product-page #products .search-showing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    #product-page #products .search-showing .search {
      width: 300px; }
    #product-page #products .search-showing .showing {
      display: flex; }
      #product-page #products .search-showing .showing .show-style {
        cursor: pointer;
        background: white;
        transition: all .5s ease;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        border: 1px solid #c8aa7b;
        display: inline-flex;
        align-items: center;
        justify-content: center; }
        #product-page #products .search-showing .showing .show-style.active {
          background: #c8aa7b; }
          #product-page #products .search-showing .showing .show-style.active i {
            color: white; }
        #product-page #products .search-showing .showing .show-style i {
          color: #c8aa7b;
          font-size: 18px; }
  #product-page #products .pagination {
    margin-top: 30px; }

#blog-page #blog {
  padding: 70px 0; }
  #blog-page #blog .post-item {
    margin-bottom: 70px; }

#blog-details-page h2 {
  text-align: left;
  font-size: 30px; }
#blog-details-page #post {
  padding: 100px 0 40px; }
  @media (max-width: 767px) {
    #blog-details-page #post {
      padding-top: 50px; } }
  #blog-details-page #post h1 {
    font-size: 25px;
    color: #242424;
    font-weight: 900;
    font-family: 'PlayfairDisplay',sans-serif;
    margin-top: 25px; }
  #blog-details-page #post .info-post {
    margin: 30px 0; }
    #blog-details-page #post .info-post ul {
      display: flex; }
      #blog-details-page #post .info-post ul li {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #b3b3b3; }
        #blog-details-page #post .info-post ul li:last-child {
          border-right: none; }
        #blog-details-page #post .info-post ul li i {
          color: #c8aa7b;
          font-size: 18px; }
        #blog-details-page #post .info-post ul li span {
          color: #b3b3b3; }
  #blog-details-page #post h3 {
    color: #c8aa7b;
    font-weight: 700;
    margin-bottom: 15px; }
  #blog-details-page #post .img {
    text-align: center;
    margin-bottom: 25px; }
    #blog-details-page #post .img h6 {
      font-style: italic;
      font-size: 13px;
      color: #8e8d8a;
      margin-top: 10px; }
#blog-details-page #comment-post ul li {
  position: relative;
  padding-left: 85px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px; }
  #blog-details-page #comment-post ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  #blog-details-page #comment-post ul li img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0; }
  #blog-details-page #comment-post ul li .content .info {
    display: flex;
    align-items: center; }
    #blog-details-page #comment-post ul li .content .info .name {
      font-family: 'PlayfairDisplay',sans-serif;
      font-weight: 900;
      color: #242424;
      font-size: 20px;
      margin-right: 25px; }
    #blog-details-page #comment-post ul li .content .info .time {
      color: #b3b3b3; }
#blog-details-page #leave-comment {
  margin-top: 30px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    #blog-details-page #leave-comment {
      padding-bottom: 50px; } }
  #blog-details-page #leave-comment h6 {
    margin: -20px 0 20px; }
  #blog-details-page #leave-comment .form input, #blog-details-page #leave-comment .form textarea {
    border: 1px solid #b5b2ac; }
  #blog-details-page #leave-comment .form .input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px; }
    #blog-details-page #leave-comment .form .input input {
      width: calc(33.33% - 10px); }
      @media (max-width: 991px) {
        #blog-details-page #leave-comment .form .input input {
          width: 100%;
          margin-bottom: 15px; } }
      #blog-details-page #leave-comment .form .input input:last-child {
        margin-bottom: 0; }
  #blog-details-page #leave-comment .form textarea {
    width: 100%;
    min-height: 140px; }
  #blog-details-page #leave-comment .form .see-more-btn {
    border: none;
    margin-top: 15px; }

#not-found-page h1 {
  font-weight: 900;
  font-family: 'PlayfairDisplay',sans-serif;
  font-size: 180px;
  color: #c8aa7b; }
  @media (max-width: 767px) {
    #not-found-page h1 {
      font-size: 100px; } }
#not-found-page h2 {
  font-size: 52px; }
  @media (max-width: 767px) {
    #not-found-page h2 {
      font-size: 30px; } }
#not-found-page h4 a {
  color: #c8aa7b; }
#not-found-page img {
  width: 550px;
  margin: 40px 0 70px; }
  @media (max-width: 767px) {
    #not-found-page img {
      width: 100%; } }

#cart-page #cart {
  padding: 40px 0 70px; }
  @media (max-width: 767px) {
    #cart-page #cart {
      padding: 20px 0 50px; } }
  #cart-page #cart .wrapper ul li {
    display: flex;
    flex-wrap: wrap;
    font-family: 'PlayfairDisplay',sans-serif;
    font-weight: 900;
    color: #242424;
    padding: 20px 0;
    border-bottom: 1px solid #C8AA7B; }
    #cart-page #cart .wrapper ul li.title {
      font-size: 25px;
      color: #C8AA7B; }
      @media (max-width: 991px) {
        #cart-page #cart .wrapper ul li.title {
          font-size: 18px; } }
    #cart-page #cart .wrapper ul li.item {
      font-size: 18px; }
      @media (max-width: 991px) {
        #cart-page #cart .wrapper ul li.item {
          font-size: 16px; } }
    #cart-page #cart .wrapper ul li .product-name {
      width: 55%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 767px) {
        #cart-page #cart .wrapper ul li .product-name {
          width: 100%;
          margin-bottom: 20px; } }
      #cart-page #cart .wrapper ul li .product-name:hover span {
        color: #C8AA7B; }
      #cart-page #cart .wrapper ul li .product-name img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover; }
      #cart-page #cart .wrapper ul li .product-name span {
        display: block;
        width: calc(100% - 80px);
        transition: all .5s ease; }
      #cart-page #cart .wrapper ul li .product-name a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2; }
    #cart-page #cart .wrapper ul li .product-price {
      width: 15%; }
      @media (max-width: 767px) {
        #cart-page #cart .wrapper ul li .product-price {
          width: 33.33%; } }
    #cart-page #cart .wrapper ul li .product-quantity {
      width: 15%; }
      @media (max-width: 767px) {
        #cart-page #cart .wrapper ul li .product-quantity {
          width: 33.33%; } }
      #cart-page #cart .wrapper ul li .product-quantity .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #C8AA7B;
        width: 70%;
        text-align: center; }
        #cart-page #cart .wrapper ul li .product-quantity .wrapper > div {
          width: 33.33%; }
        #cart-page #cart .wrapper ul li .product-quantity .wrapper .up-amount, #cart-page #cart .wrapper ul li .product-quantity .wrapper .down-amount {
          background: #C8AA7B;
          color: #ffffff;
          cursor: pointer; }
        #cart-page #cart .wrapper ul li .product-quantity .wrapper .up-amount {
          border-left: 1px solid #C8AA7B; }
        #cart-page #cart .wrapper ul li .product-quantity .wrapper .down-amount {
          border-right: 1px solid #C8AA7B; }
    #cart-page #cart .wrapper ul li .product-total {
      width: 15%; }
      @media (max-width: 767px) {
        #cart-page #cart .wrapper ul li .product-total {
          width: 33.33%;
          text-align: right; } }
  #cart-page #cart .wrapper .total-price {
    font-family: 'PlayfairDisplay',sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-align: right;
    padding: 20px 0;
    color: #C8AA7B;
    margin-bottom: -30px; }
    @media (max-width: 991px) {
      #cart-page #cart .wrapper .total-price {
        font-size: 18px; } }
