<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="header">
        <div class="container-fluid">
            <div class="info-social d-none d-sm-flex">
                <div class="info">
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            13 Cô Giang, Phường 1, Phú Nhuận, TP.HCM
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <b>0909.111.223</b>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="logo-menu d-none d-sm-flex">
                <div class="logo">
                    <a href="/"><img src="../images/logo.svg" alt=""></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="#">Sản Phẩm</a></li>
                        <li><a href="#">Tin Tức</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                    <a class="cart">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span>3</span>
                    </a>
                </div>
            </div>
            <!--Menu mobile-->
            <div class="logo-menu d-sm-none">
                <div class="control__menu">
                    <span class="line line--first"></span>
                    <span class="line line--second"></span>
                    <span class="line line--third"></span>
                </div>
                <div class="logo">
                    <a href="/"><img src="../images/logo.svg" alt=""></a>
                </div>
                <a class="cart">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span>3</span>
                </a>
                <div class="menu-mobile">
                    <ul>
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="#">Sản Phẩm</a></li>
                        <li><a href="#">Tin Tức</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
            <!--End Menu mobile-->
        </div>
    </header>
    <main id="blog-details-page">
        <section id="banner-page">
            <img class="img-fluid" src="../images/bg-banner-page.jpg" alt="">
            <h1>Blog Details</h1>
        </section>
        <section id="post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-sm-7">
                        <img class="w-100 img-fluid" src="../images/product-01.jpg" alt="">
                        <h1>65 Best homemade cake recipes - how to make an easy cake</h1>
                        <div class="info-post">
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span>Aug 18, 2021</span>
                                </li>
                                <li>
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    <span>Comment: 2</span>
                                </li>
                            </ul>
                        </div>
                        <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut  unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h3>
                        <p>Odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit sed quia non numquam eius modi.</p>
                        <div class="img">
                            <img class="w-100 img-fluid" src="../images/product-01.jpg" alt="">
                            <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h6>
                        </div>

                        <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut  unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h3>
                        <p>Odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit sed quia non numquam eius modi.</p>
                        <div class="img">
                            <img class="w-100 img-fluid" src="../images/product-01.jpg" alt="">
                            <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h6>
                        </div>

                        <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut  unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</h3>
                        <p>Odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit sed quia non numquam eius modi.</p>
                        <div class="img">
                            <img class="w-100 img-fluid" src="../images/product-01.jpg" alt="">
                            <h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h6>
                        </div>


                    </div>
                    <div class="col-lg-3 col-sm-5 d-none d-sm-block">
                        <div class="search-post">
                            <div class="wrapper">
                                <input type="text" placeholder="Search..." />
                                <span class="btn-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="categories-post">
                            <div class="title-post">Categories</div>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="name">Marble cake</span>
                                        <span class="amount">25</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="highlight-post">
                            <div class="title-post">Highlight posts</div>
                            <ul>
                                <li>
                                    <img class="img-fluid" src="../images/cake-post.jpg" alt="">
                                    <h3>Grandma’s strawberry shortcake</h3>
                                    <p>Aug 18, 2021</p>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <img class="img-fluid" src="../images/cake-post.jpg" alt="">
                                    <h3>Grandma’s strawberry shortcake</h3>
                                    <p>Aug 18, 2021</p>
                                    <a href="#"></a>
                                </li>
                                <li>
                                    <img class="img-fluid" src="../images/cake-post.jpg" alt="">
                                    <h3>Grandma’s strawberry shortcake</h3>
                                    <p>Aug 18, 2021</p>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tags-post">
                            <div class="title-post">Tags</div>
                            <ul>
                                <li><a href="#">Bread sticks</a></li>
                                <li><a href="#">Rolls</a></li>
                                <li><a href="#">Milk</a></li>
                                <li><a href="#">Challar</a></li>
                                <li><a href="#">swaill roll</a></li>
                                <li><a href="#">Bread sticks</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tags-post">
                    <span style="margin-right: 10px;">Tags: </span>
                    <ul class="d-inline-flex">
                        <li><a href="#">Bagel</a></li>
                        <li><a href="#">Bread stick</a></li>
                        <li><a href="#">Roll stoys</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="comment-post">
            <div class="container">
                <h2>Comment</h2>
                <div class="row">
                    <div class="col-lg-9 col-sm-7">
                        <ul>
                            <li>
                                <img class="img-fluid" src="../images/avatar.png" alt="">
                                <div class="content">
                                    <div class="info">
                                        <div class="name">Andrew Fox</div>
                                        <div class="time">Aug 18, 2021</div>
                                    </div>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </li>
                            <li>
                                <img class="img-fluid" src="../images/avatar.png" alt="">
                                <div class="content">
                                    <div class="info">
                                        <div class="name">Andrew Fox</div>
                                        <div class="time">Aug 18, 2021</div>
                                    </div>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </li>
                            <li>
                                <img class="img-fluid" src="../images/avatar.png" alt="">
                                <div class="content">
                                    <div class="info">
                                        <div class="name">Andrew Fox</div>
                                        <div class="time">Aug 18, 2021</div>
                                    </div>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="leave-comment">
            <div class="container">
                <h2>Leave your comment</h2>
                <h6>Your email address will not be published. Required fields are marked *</h6>
                <div class="row">
                    <div class="col-lg-9 col-sm-7">
                        <div class="form">
                            <form action="">
                                <div class="input">
                                    <input type="text" placeholder="Your name*" required />
                                    <input type="text" placeholder="Your email" />
                                    <input type="text" placeholder="Your phone" />
                                </div>
                                <textarea name="" placeholder="Message*"></textarea>
                                <button class="see-more-btn">Send message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="content home-col">
                        <a href="/"><img src="../images/logo-white.svg" alt=""></a>
                        <p>ThemeMu comes with powerful theme options, which empowers you to quickly and easily build incredible store.</p>
                        <ul>
                            <li><a href="#" target="_blank"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fa fa-youtube" aria-hidden="true"></i></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content contact">
                        <h3>Liên hệ</h3>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Địa chỉ:</span> 13 Cô Giang, Phường 1, Phú Nhuận, TP.HCM
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Điện thoại:</span> 0909.111.223
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span>Email:</span> contact@peppaicake.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content recent-post">
                        <h3>Bài đăng gần đây</h3>
                        <ul>
                            <li>
                                <img class="img-fluid" src="../images/cake-post.jpg" alt="">
                                <h4>Etiam accumsan consequat libero et tincidunt</h4>
                                <h6>Aug 18, 2021</h6>
                                <a href="#"></a>
                            </li>
                            <li>
                                <img class="img-fluid" src="../images/cake-post.jpg" alt="">
                                <h4>Etiam accumsan consequat libero et tincidunt</h4>
                                <h6>Aug 18, 2021</h6>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2021 Peppai Cake - Designed by Henry</p>
        </div>
    </footer>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>
